name: 02-code-quality

on:
  workflow_call:

jobs:
  code-quality:
    runs-on: ubuntu:latest
    services:
      mysql:
        image: mysql:8.0.21
        env:
          MYSQL_DATABASE: ecommerce
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping"
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '7.4'
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: |
          php artisan key:generate
      - name: Directory Permissions
        run: |
          chmod -R 777 storage bootstrap/cache
      - name: phpstan
        run: |
          composer require --dev phpstan/phpstan
          ./vendor/bin/phpstan analyse --memory-limit=1G --level max app || true
      - name: phpinsights
        run: |
          composer config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
          composer require nunomaduro/phpinsights:^1.0 --dev --with-all-dependencies
          php artisan vendor:publish --provider="NunoMaduro\PhpInsights\Application\Adapters\Laravel\InsightsServiceProvider"
          php artisan insights --no-interaction --min-quality=90 --min-complexity=90 --min-architecture=90 --min-style=90 --ansi --format=github-action || true